
/* -- -----------------------  -- */
/* -- [ COMPONENTS : BUTTONS ] -- */
/* -- -----------------------  -- */

a,
a:visited {
  font-weight: 600;
  color: var(--color-primary-blue, #003865);
  &:hover {
    //text-decoration: underline;
  }
}
/* -- --------  -- */
/* -- [ TEXT ] -- */
a,
a:visited,
.c-btn--text,
.c-btn--text:visited {
  font-weight: 600;
  position: relative;
  color: var(--color-primary-blue, #003865);
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--color-almost-black, #1D1D1E);
    border-color: var(--color-almost-black, #1D1D1E);
  }
}

.c-btn,
.c-btn:visited {
  display: inline-flex;
  position: relative;
  align-self: baseline;
  background: none;
  color: var(--color-almost-black, #1D1D1E);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Work Sans', 'HelveticaNeue', 'Helvetica Neue', Arial, sans-serif;
  min-height: 34px;
  line-height: 34px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover, &:focus, &:active {
    color: var(--color-primary-blue, #003865);
  }
  &:focus {
    background-color: rgba(144,206,241,0.25);
    outline: 3px double #90CEF1;
    outline-offset: 2px;
  }
  &::before,
  &::after {
    content: "";
    transition: all .5s ease-out;
  }
}
/* -- -----------  -- */
/* -- [ HOMEPAGE ] -- */

.c-btn--homepage,
.c-btn--homepage:visited {
  position: relative;
  padding: 0 105px 0 0;
  &:hover, &:focus, &:active {
    padding: 0 90px 0 15px;
    text-decoration: none;
  }
  &::after {
    height: 16px;
    width: 70px;
    content: "";
    position: absolute;
    right: 9px;
    top: 9px;
    background-color: var(--color-spearmint, #81B39B);
    -webkit-mask: url("data:image/svg+xml,%3Csvg version='1.1' id='home-arrow-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 65 15' style='enable-background:new 0 0 65 15;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2381B39B;%7D%0A%3C/style%3E%3Cpath id='arrow-compound' class='st0' d='M64.4,7.9C64.4,7.9,64.4,8,64.4,7.9c-0.1,0.2-0.2,0.3-0.2,0.3c0,0,0,0,0,0l-7,6.5 C57,14.9,56.7,15,56.5,15c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0.1-1.4l5.1-4.7L1.5,9c0,0,0,0,0,0c-0.5,0-1-0.4-1-1 c0-0.6,0.4-1,1-1L61,6.5l-5.2-4.8c-0.4-0.4-0.4-1-0.1-1.4c0.4-0.4,1-0.4,1.4-0.1l7,6.5c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.2,0.3 c0,0,0,0,0,0c0.1,0.1,0.1,0.3,0.1,0.4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1C64.5,7.7,64.5,7.8,64.4,7.9z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg version='1.1' id='home-arrow-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 65 15' style='enable-background:new 0 0 65 15;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2381B39B;%7D%0A%3C/style%3E%3Cpath id='arrow-compound' class='st0' d='M64.4,7.9C64.4,7.9,64.4,8,64.4,7.9c-0.1,0.2-0.2,0.3-0.2,0.3c0,0,0,0,0,0l-7,6.5 C57,14.9,56.7,15,56.5,15c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0.1-1.4l5.1-4.7L1.5,9c0,0,0,0,0,0c-0.5,0-1-0.4-1-1 c0-0.6,0.4-1,1-1L61,6.5l-5.2-4.8c-0.4-0.4-0.4-1-0.1-1.4c0.4-0.4,1-0.4,1.4-0.1l7,6.5c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.2,0.3 c0,0,0,0,0,0c0.1,0.1,0.1,0.3,0.1,0.4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1C64.5,7.7,64.5,7.8,64.4,7.9z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  &::before {
    content: "";
    top: 0;
    min-height: 34px;
    width: 35px;
    position: absolute;
    right: 0;
    border: 2px solid var(--color-spearmint, #81B39B);
    //background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='icon-primary-arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23icon-primary-arrow .arrow-icon%7Bfill:none;stroke:%2381B39B;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpolyline id='Line' class='arrow-icon' points='10,1 17,7.5 10,14 '/%3E%3C/svg%3E");
    //background-repeat: no-repeat;
    //background-attachment: local;
    //background-position: right 9px top 7px;
    //background-size: 18px;
  }
  &:hover::before,
  &:focus::before {
    height: 100%;
    width: 100%;
  }
}
/* -- -----------  -- */
/* -- [ PRIMARY ] -- */

.c-btn--primary,
.c-btn--primary:visited {
  padding: 0 51px 0 0;
  &:hover, &:focus, &:active {
    padding: 0 36px 0 15px;
    text-decoration: none;
  }
  &::after {
    height: 15px;
    width: 18px;
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='icon-primary-arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23icon-primary-arrow .arrow-icon%7Bfill:none;stroke:%2381B39B;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cline id='Path' class='arrow-icon' x1='1' y1='8' x2='16' y2='7.9'/%3E%3Cpolyline id='Line' class='arrow-icon' points='10,1 17,7.5 10,14 '/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 9px;
    top: 0;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 34px;
    width: 35px;
    border: 2px solid var(--color-spearmint, #81B39B);
  }
  &:hover::before,
  &:focus::before {
    height: 100%;
    width: 100%;
  }
}
/* -- -----------  -- */
/* -- [ PRIMARY - External ] -- */
.c-btn--primary-external,
.c-btn--primary-external:visited,
.c-btn--primary[href*="http"]:not([href*="cengage.com"]),
.c-btn--primary[href*="www"]:not([href*="cengage.com"]) {
  padding: 0 51px 0 0;
  &:hover, &:focus, &:active {
    padding: 0 36px 0 15px;
    text-decoration: none;
  }
  &::after {
    height: 20px;
    width: 19px;
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='icon-primary-external' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 19' style='enable-background:new 0 0 20 19;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23icon-primary-external .st0%7Bfill:none;stroke:%23E07A5F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cline id='Path' class='st0' x1='1' y1='18' x2='18' y2='2'/%3E%3Cpolyline id='Path_1_' class='st0' points='9.4,1.3 19,1 18.6,10.5 '/%3E%3C/svg%3E");
    position: absolute;
    display: inline-block;
    align-self: center;
    top: 1px;
    right: 7px;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 34px;
    width: 35px;
    border: 2px solid var(--color-terra-cotta, #E07A5F);
  }
  &:hover::before,
  &:focus::before {
    height: 100%;
    width: 100%;
  }
}


/* -- [ SECONDARY ] -- */

.c-btn--secondary,
.c-btn--secondary:visited {
  color: var(--color-primary-blue, #003865);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 40px;
  &:hover,
  &:focus,
  &:active {
    color: var(--color-almost-black, #1D1D1E);
    text-decoration: none;
    transform: translateX(8px);
    &::before {
      position: absolute;
      right: 0;
      top: 11px;
      height: 2px;
      width: 33px;
      opacity: 1;
    }
    &::after {
      position: absolute;
      height: 10px;
      width: 10px;
      top: 7px;
      right: 1px;
      opacity: 1;
    }
  }
  &:focus {
    background-color: rgba(144,206,241,0.25);
    outline: 1px solid #90CEF1;
  }
  &::before {
    position: absolute;
    right: 10px;
    top: 11px;
    height: 2px;
    width: 33px;
    opacity: 0;
    border-bottom: 2px solid var(--color-primary-blue, #003865);
    text-align: right;
  }
  &::after {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 7px;
    right: 11px;
    opacity: 0;
    border-color: var(--color-primary-blue, #003865);
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }

}

/* -- [ TEXT ] -- */
.c-btn--text,
.c-btn--text:visited {
  position: relative;
  color: var(--color-primary-blue, #003865);
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--color-almost-black, #1D1D1E);
    border-color: var(--color-terra-cotta, #E07A5F);
  }
}

/* -- [ EXTERNAL ] -- */
.c-btn--external-link {
  &::after {
    content: '';
    -webkit-mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M49.8,1.8c-0.3-0.7-0.9-1.3-1.6-1.6C47.8,0.1,47.5,0,47.1,0H27.5c-1.6,0-2.9,1.3-2.9,2.9s1.3,2.9,2.9,2.9H40 L0.9,45c-1.1,1.1-1.1,3,0,4.1c0.5,0.6,1.3,0.9,2,0.9s1.5-0.3,2.1-0.9L44.2,10v12.6c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9V2.9 C50,2.5,49.9,2.2,49.8,1.8z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M49.8,1.8c-0.3-0.7-0.9-1.3-1.6-1.6C47.8,0.1,47.5,0,47.1,0H27.5c-1.6,0-2.9,1.3-2.9,2.9s1.3,2.9,2.9,2.9H40 L0.9,45c-1.1,1.1-1.1,3,0,4.1c0.5,0.6,1.3,0.9,2,0.9s1.5-0.3,2.1-0.9L44.2,10v12.6c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9V2.9 C50,2.5,49.9,2.2,49.8,1.8z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    background-color: var(--color-primary-blue, #003865);
    align-self: center;
  }
}

/* -- [ PDF ] -- */
.c-btn--text-pdf,
.c-btn--text[href$=".pdf"],
.c-btn--text[href$=".doc"] {
  margin-right: 37px;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:hover:before {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    border-bottom: 1px solid var(--color-primary-blue, #003865);
  }
  &:after {
    display: inline-block;
    position: absolute;
    height: 21px;
    width: 17px;
    top: 4px;
    right: -36px;
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='pdf-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 21' style='enable-background:new 0 0 17 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23pdf-icon %23outline%7Bfill:%23003865;stroke:%23003865;stroke-width:0.5;stroke-linejoin:round;%7D svg%23pdf-icon %23symbol%7Bfill:%23003865;stroke:%23003865;stroke-width:0.25;%7D%0A%3C/style%3E%3Cpath id='outline' class='st0' d='M16,5.6l-4.6-4.6c-0.3-0.3-0.7-0.5-1.1-0.5H2.1C1.7,0.6,1.3,0.8,1,1.1C0.8,1.4,0.6,1.7,0.6,2.1 v16.7c0,0.9,0.7,1.5,1.5,1.5h12.7c0.9,0,1.5-0.7,1.5-1.5l0-12.1C16.4,6.3,16.2,5.9,16,5.6L16,5.6z M15.1,6h-3.4 C11.3,6,11,5.7,11,5.3L11,2L15.1,6z M14.9,19.5H2.1c-0.4,0-0.6-0.3-0.6-0.6l0-16.7c0-0.2,0.1-0.3,0.2-0.5C1.8,1.6,2,1.5,2.1,1.5h8 v3.8c0,0.9,0.7,1.6,1.6,1.6h3.8v12C15.5,19.2,15.2,19.5,14.9,19.5L14.9,19.5z'/%3E%3Cpath id='symbol' class='st1' d='M10.1,13.3c-0.3-0.2-0.6-0.6-0.9-0.9c-0.2-0.2-0.5-0.6-0.7-1C8.9,10,9,8.8,8.6,8.1 C8.4,7.8,8.1,7.7,7.8,7.7C7.4,7.7,7,7.9,6.9,8.2C6.6,9,7.1,10.4,7.7,11.5C7.5,12,7.3,12.6,7,13.3c-0.1,0.4-0.3,0.7-0.5,1 c-1.7,0.7-2.7,1.4-2.9,2.1c-0.1,0.3,0,0.6,0.3,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.2,0,0.2,0c0.8-0.2,1.6-1.4,2.3-2.6 c0.4-0.1,0.8-0.3,1.3-0.4c0.6-0.2,1.1-0.3,1.5-0.4c0.8,0.6,1.5,1,2.1,1c0.5,0,0.8-0.1,1.1-0.5c0.2-0.2,0.3-0.4,0.3-0.6 c0-0.2-0.2-0.5-0.4-0.6c-0.5-0.3-1.1-0.3-1.6-0.3c-0.2,0-0.4,0-0.6,0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0 C10.2,13.2,10.1,13.3,10.1,13.3z M4.6,16.7c-0.1,0-0.1,0-0.2,0c-0.1-0.1-0.1-0.1-0.1-0.1c0-0.2,0.5-0.7,1.6-1.2 C5.4,16.1,4.9,16.6,4.6,16.7L4.6,16.7z M7.6,8.5c0,0,0-0.1,0.2-0.1C7.9,8.4,8,8.5,8,8.5c0.2,0.3,0.2,1-0.1,1.9 C7.6,9.6,7.4,8.9,7.6,8.5L7.6,8.5z M8.1,13.7c-0.2,0.1-0.4,0.1-0.6,0.2c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.4,0.3-0.8,0.5-1.2 c0.2,0.2,0.3,0.4,0.5,0.6c0.2,0.2,0.4,0.4,0.6,0.6C8.9,13.5,8.5,13.6,8.1,13.7L8.1,13.7z M12.5,14.1c-0.1,0.2-0.3,0.2-0.6,0.2 c-0.3,0-0.7-0.1-1.1-0.4C12.1,13.7,12.7,13.9,12.5,14.1L12.5,14.1z'/%3E%3C/svg%3E");

  }
}

/* -- [ MEDIA ] -- */
.c-btn--text-media,
.c-btn--text[href$=".mp3"],
.c-btn--text[href$=".mp4"] {
  margin-right: 37px;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:hover:before {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    border-bottom: 1px solid var(--color-primary-blue, #003865);
  }
  &:after {
    display: inline-block;
    position: absolute;
    height: 21px;
    width: 17px;
    top: 4px;
    right: -36px;
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='media-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 21' style='enable-background:new 0 0 17 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23media-icon %23circle%7Bfill:%23003865;stroke:%23003865;stroke-width:0.45;stroke-linejoin:round;%7D svg%23media-icon .st1%7Bfill:%23003865;stroke:%23003865;stroke-width:0.5;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath id='circle' class='st0' d='M8.3,16.9c-2.5,0-4.6-2.1-4.6-4.6c0-2.5,2.1-4.6,4.6-4.6s4.6,2.1,4.6,4.6 C12.9,14.8,10.8,16.9,8.3,16.9z M8.3,8.4c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8s3.8-1.7,3.8-3.8C12.1,10.1,10.4,8.4,8.3,8.4 z'/%3E%3Cpolygon id='arrow' class='st1' points='6.7,10.3 10.6,12.3 6.7,14.2 '/%3E%3Cpath id='outline' class='st1' d='M15.9,5.6l-4.6-4.6c-0.3-0.3-0.7-0.5-1.1-0.5H2C1.6,0.6,1.2,0.8,1,1.1C0.7,1.4,0.5,1.7,0.5,2.1 v16.7c0,0.9,0.7,1.5,1.5,1.5h12.7c0.9,0,1.5-0.7,1.5-1.5l0-12.1C16.3,6.3,16.2,5.9,15.9,5.6L15.9,5.6z M15,6h-3.4 c-0.4,0-0.7-0.3-0.7-0.7l0-3.4L15,6z M14.8,19.5H2c-0.4,0-0.6-0.3-0.6-0.6l0-16.7c0-0.2,0.1-0.3,0.2-0.5C1.7,1.6,1.9,1.5,2,1.5h8 v3.8c0,0.9,0.7,1.6,1.6,1.6h3.8v12C15.4,19.2,15.1,19.5,14.8,19.5L14.8,19.5z'/%3E%3C/svg%3E");
  }
}

/* -- [ MAIL TO ] -- */
.c-btn--text-email,
.c-btn--text[href^="mailto:"] {
  margin-right: 37px;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:hover:before {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    border-bottom: 1px solid var(--color-primary-blue, #003865);
  }
  &:after {
    display: inline-block;
    position: absolute;
    height: 21px;
    width: 17px;
    top: 4px;
    right: -36px;
    content: url("data:image/svg+xml,%3Csvg version='1.1' id='pdf-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 21' style='enable-background:new 0 0 17 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E svg%23pdf-icon %23outline%7Bfill:%23003865;stroke:%23003865;stroke-width:0.5;stroke-linejoin:round;%7D svg%23pdf-icon %23symbol%7Bfill:%23003865;stroke:%23003865;stroke-width:0.25;%7D%0A%3C/style%3E%3Cpath id='outline' class='st0' d='M16,5.6l-4.6-4.6c-0.3-0.3-0.7-0.5-1.1-0.5H2.1C1.7,0.6,1.3,0.8,1,1.1C0.8,1.4,0.6,1.7,0.6,2.1 v16.7c0,0.9,0.7,1.5,1.5,1.5h12.7c0.9,0,1.5-0.7,1.5-1.5l0-12.1C16.4,6.3,16.2,5.9,16,5.6L16,5.6z M15.1,6h-3.4 C11.3,6,11,5.7,11,5.3L11,2L15.1,6z M14.9,19.5H2.1c-0.4,0-0.6-0.3-0.6-0.6l0-16.7c0-0.2,0.1-0.3,0.2-0.5C1.8,1.6,2,1.5,2.1,1.5h8 v3.8c0,0.9,0.7,1.6,1.6,1.6h3.8v12C15.5,19.2,15.2,19.5,14.9,19.5L14.9,19.5z'/%3E%3Cpath id='symbol' class='st1' d='M10.1,13.3c-0.3-0.2-0.6-0.6-0.9-0.9c-0.2-0.2-0.5-0.6-0.7-1C8.9,10,9,8.8,8.6,8.1 C8.4,7.8,8.1,7.7,7.8,7.7C7.4,7.7,7,7.9,6.9,8.2C6.6,9,7.1,10.4,7.7,11.5C7.5,12,7.3,12.6,7,13.3c-0.1,0.4-0.3,0.7-0.5,1 c-1.7,0.7-2.7,1.4-2.9,2.1c-0.1,0.3,0,0.6,0.3,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.2,0,0.2,0c0.8-0.2,1.6-1.4,2.3-2.6 c0.4-0.1,0.8-0.3,1.3-0.4c0.6-0.2,1.1-0.3,1.5-0.4c0.8,0.6,1.5,1,2.1,1c0.5,0,0.8-0.1,1.1-0.5c0.2-0.2,0.3-0.4,0.3-0.6 c0-0.2-0.2-0.5-0.4-0.6c-0.5-0.3-1.1-0.3-1.6-0.3c-0.2,0-0.4,0-0.6,0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0 C10.2,13.2,10.1,13.3,10.1,13.3z M4.6,16.7c-0.1,0-0.1,0-0.2,0c-0.1-0.1-0.1-0.1-0.1-0.1c0-0.2,0.5-0.7,1.6-1.2 C5.4,16.1,4.9,16.6,4.6,16.7L4.6,16.7z M7.6,8.5c0,0,0-0.1,0.2-0.1C7.9,8.4,8,8.5,8,8.5c0.2,0.3,0.2,1-0.1,1.9 C7.6,9.6,7.4,8.9,7.6,8.5L7.6,8.5z M8.1,13.7c-0.2,0.1-0.4,0.1-0.6,0.2c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.4,0.3-0.8,0.5-1.2 c0.2,0.2,0.3,0.4,0.5,0.6c0.2,0.2,0.4,0.4,0.6,0.6C8.9,13.5,8.5,13.6,8.1,13.7L8.1,13.7z M12.5,14.1c-0.1,0.2-0.3,0.2-0.6,0.2 c-0.3,0-0.7-0.1-1.1-0.4C12.1,13.7,12.7,13.9,12.5,14.1L12.5,14.1z'/%3E%3C/svg%3E");

  }
}

/* -- [ EXTERNAL ] --
	A tags that do not start with
	Not  Internal links  : links that do not start with
*/
/*
a.c-btn--text:not([href^="/"]):after,
a.c-btn--text:not([href^=".."]):after,
a.c-btn--text[href^="http://"]:not([href*="cengage.com"]):after,
a.c-btn--text[href^="https://"]:not([href*="cengage.com"]):after,
a.c-btn--text[href^="//"]:not([href*="cengage.com"]):after {
    //content: '';
    //-webkit-mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M49.8,1.8c-0.3-0.7-0.9-1.3-1.6-1.6C47.8,0.1,47.5,0,47.1,0H27.5c-1.6,0-2.9,1.3-2.9,2.9s1.3,2.9,2.9,2.9H40 L0.9,45c-1.1,1.1-1.1,3,0,4.1c0.5,0.6,1.3,0.9,2,0.9s1.5-0.3,2.1-0.9L44.2,10v12.6c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9V2.9 C50,2.5,49.9,2.2,49.8,1.8z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    //mask: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M49.8,1.8c-0.3-0.7-0.9-1.3-1.6-1.6C47.8,0.1,47.5,0,47.1,0H27.5c-1.6,0-2.9,1.3-2.9,2.9s1.3,2.9,2.9,2.9H40 L0.9,45c-1.1,1.1-1.1,3,0,4.1c0.5,0.6,1.3,0.9,2,0.9s1.5-0.3,2.1-0.9L44.2,10v12.6c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9V2.9 C50,2.5,49.9,2.2,49.8,1.8z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    //-webkit-mask-size: cover;
    //mask-size: cover;
    //display: inline-block;
    //height: 12px;
    //width: 12px;
    //margin-left: 8px;
    //background-color: var(--color-primary-blue, #003865);
    //align-self: center;
}
*/




