.c-breadcrumb {
  display: flex;
  justify-content:left;
  width: 100%;
  margin: 12px 0;
}
.c-breadcrumb_list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.c-breadcrumb_list-item { }
.c-breadcrumb_link { }
.c-breadcrumb_label { }

/* Add a slash symbol (/) before/behind each list item */
.c-breadcrumb_list .c-breadcrumb_list-item+.c-breadcrumb_list-item:before {
  padding: 0 6px 0 8px;
  content: "/";
}
