
/* -- ---------------------------  -- */
/* -- [ COMPONENTS : MEDIA BLOCK ] -- */
/* -- ---------------------------  -- */
.c-media-block-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.c-media-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 344px;
  position: relative;
  &_aside { }
  &_picture {
    max-width: 345px;
    max-height: 231px;
    position: relative;
    display: inline-flex;
    margin: 0;
  }
  &_img {
    display: flex;
    width: 100%;
    position: relative;
    object-fit: cover;
  }
  &_body {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  &_header { margin-bottom: 16px;  }
  &_title { }
  &_copy { }
  &_footer {margin-top: 24px; }
}

/* -- ---------------------------- -- */
/* -- [ Media Block : Leadership ] -- */
/* -- ---------------------------- -- */
.c-media-block-list--leadership {
  display: grid;
  column-gap: 24px;
  row-gap: 72px;
  grid-template-columns: repeat(auto-fill, 344px);
}

.c-media-block--leadership {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 384px;
  .c-media-block {
    &_aside {
      margin-bottom: 16px;
    }
    &_picture {
      max-width: 345px;
      max-height: 231px;
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      display: flex;
      flex-direction: column;
      flex: auto;
      position: relative;
    }
    &_header {
      margin-bottom: 0;
    }
    &_title {
      font-size: 24px;
      line-height: 38px;
    }
    &_copy {
      font-size: 20px;
      line-height: 32px;
    }
    &_footer {
      margin-top: auto;
    }
  }
}
/* -- [ Media Block : Leadership -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-media-block-list--leadership { row-gap: 120px; }

  .c-media-block--leadership {
    min-height: 416px;
    .c-media-block {
      &_aside {  }
      &_picture { }
      &_img { }
      &_body { }
      &_header {  }
      &_title { }
      &_copy { }
      &_footer { }
    }
  }
}

/* -- ---------------------------- -- */
/* -- [ Media Block : Primary ] -- */
/* -- ---------------------------- -- */
.c-media-block-list--primary {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 344px);
}

.c-media-block--primary {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 600px;
  .c-media-block {
    &_aside {
      margin-bottom: 12px;
    }
    &_picture {
      min-width: 345px;
      min-height: 330px;
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      display: flex;
      flex-direction: column;
      flex: auto;
      position: relative;
    }
    &_header {
      margin-bottom: 12px;
    }
    &_title {
      font-size: 24px;
      line-height: 38px;
    }
    &_copy {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 32px;
    }
    &_footer {
      margin-top: auto;
    }
  }
}
/* -- [ Media Block : Primary -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-media-block-list--primary {  }

  .c-media-block--primary {
    .c-media-block {
      &_aside {  }
      &_picture { }
      &_img { }
      &_body { }
      &_header {  }
      &_title { }
      &_copy { }
      &_footer { }
    }
  }
}

/* -- ---------------------------- -- */
/* -- [ Media Block : ICON ] -- */
/* -- ---------------------------- -- */
.c-media-block-list--icon {
  max-width: 1048px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 240px);
}

.c-media-block--icon {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 140px;
  .c-media-block {
    &_aside {
      margin-bottom: 24px;
    }
    &_picture {
      min-width: auto;
      min-height: auto;
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      display: flex;
      flex-direction: column;
      flex: auto;
      position: relative;
    }
    &_header {
      margin-bottom: 12px;
    }
    &_title {
      font-size: 24px;
      line-height: 38px;
    }
    &_copy {
      font-size: 16px;
      line-height: 1.56;
      margin-bottom: 32px;
    }
    &_footer {
      margin-top: auto;
    }
  }
}
/* -- [ Media Block : Primary -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-media-block-list--icon {  }

  .c-media-block--icon {
    .c-media-block {
      &_aside {  }
      &_picture { }
      &_img { }
      &_body { }
      &_header {  }
      &_title { }
      &_copy { }
      &_footer { }
    }
  }
}
