
/* -- ---------------------------  -- */
/* -- [ COMPONENTS : MEDIA BLOCK ] -- */
/* -- ---------------------------  -- */

.c-media-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 344px;
  &_aside { }
  &_figure {
    margin: 0;
  }
  &_figurecaption { }
  &_body {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  &_header {
    margin-top: 24px;
  }
  &_title {

  }
  &_copy {
    margin-top: 16px;
  }
  &_footer {
    margin-top: 24px;
  }
}

.c-media-block-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
