{{> components-primary-header }}

<main role="main">
    {{# breadcrumb }}
        {{> components-breadcrumb }}
    {{/ breadcrumb }}


    {{> components-home-hero-banner }}

    {{# promos }}
        {{> components-promo-list }}
    {{/promos}}
</main>

{{> components-primary-footer }}
