<div class="l-container {{paddingUtility}} {{backgroundColor}}">

    {{#each button-list }}
        <small>class: {{classModifier}}</small>
        <small>url: {{url}}</small>
        <br>
        {{> components-button }}
        <hr>
    {{/ each }}

</div><!--end c-btn-group-->
