<main role="main">
    <section class="l-container {{ containerModifier }} {{backgroundColor}}">

        {{#each promo-list }}

            {{> components-promo }}

        {{/ each }}

    </section>
</main>
