
/* -- ------------------  -- */
/* -- [ UTILITIES : PADDING ] -- */
/* -- ------------------  -- */

.u-padding--0 {
  padding: var(--spacing-0, 0px) !important;
}
.u-padding--extra-small {
  padding: var(--spacing-extra-small, 8px) !important;
}
.u-padding--small {
  padding-bottom: var(--spacing-small, 16px) !important;
}
.u-padding--medium {
  padding-bottom: var(--spacing-medium, 32px) !important;
}
.u-padding--large {
  padding-bottom: var(--spacing-large, 72px) !important;
}
.u-padding--extra-large {
  padding-bottom: var(--spacing-extra-large, 120px) !important;
}

/*-- padding Top --*/
.u-padding-top--0 {
  padding-bottom: var(--spacing-0, 0px) !important;
}
.u-padding-top--extra-small {
  padding-bottom: var(--spacing-extra-small, 8px) !important;
}
.u-padding-top--small {
  padding-bottom: var(--spacing-small, 16px) !important;
}
.u-padding-top--medium {
  padding-bottom: var(--spacing-medium, 32px) !important;
}
.u-padding-top--large {
  padding-bottom: var(--spacing-large, 72px) !important;
}
.u-padding-top--extra-large {
  padding-bottom: var(--spacing-extra-large, 120px) !important;
}

/*-- padding Bottom --*/
.u-padding-bottom--0 {
  padding-bottom: var(--spacing-0, 0px) !important;
}
.u-padding-bottom--extra-small {
  padding-bottom: var(--spacing-extra-small, 8px) !important;
}
.u-padding-bottom--small {
  padding-bottom: var(--spacing-small, 16px) !important;
}
.u-padding-bottom--medium {
  padding-bottom: var(--spacing-medium, 32px) !important;
}
.u-padding-bottom--large {
  padding-bottom: var(--spacing-large, 72px) !important;
}
.u-padding-bottom--extra-large {
  padding-bottom: var(--spacing-extra-large, 120px) !important;
}

/*-- Padding Left --*/
.u-padding-left--0 {
  padding-bottom: var(--spacing-0, 0px) !important;
}
.u-padding-left--extra-small {
  padding-bottom: var(--spacing-extra-small, 8px) !important;
}
.u-padding-left--small {
  padding-bottom: var(--spacing-small, 16px) !important;
}
.u-padding-left--medium {
  padding-bottom: var(--spacing-medium, 32px) !important;
}
.u-padding-left--large {
  padding-bottom: var(--spacing-large, 72px) !important;
}
.u-padding-left--extra-large {
  padding-bottom: var(--spacing-extra-large, 120px) !important;
}

/*-- Padding Right --*/
.u-padding-right--0 {
  padding-bottom: var(--spacing-0, 0px) !important;
}
.u-padding-right--extra-small {
  padding-bottom: var(--spacing-extra-small, 8px) !important;
}
.u-padding-right--small {
  padding-bottom: var(--spacing-small, 16px) !important;
}
.u-padding-right--medium {
  padding-bottom: var(--spacing-medium, 32px) !important;
}
.u-padding-right--large {
  padding-bottom: var(--spacing-large, 72px) !important;
}
.u-padding-right--extra-large {
  padding-bottom: var(--spacing-extra-large, 120px) !important;
}
