.u-width-960 {
	width: 100% !important;
	max-width: 960px !important;
}

.u-width--2-col {
	max-width: 160px !important;
}

.u-width--3-col {
	max-width: 252px !important;
}

.u-width--4-col {
	max-width: 344px !important;
}

.u-width--5-col {
	max-width: 436px !important;
}

.u-width--6-col {
	max-width: 528px !important;
}

.u-width--6-col {
	max-width: 620px !important;
}

.u-width--8-col {
	max-width: 712px !important;
}

.u-width--9-col {
	max-width: 804px !important;
}

.u-width--10-col {
	max-width: 896px !important;
}

.u-width--11-col {
	max-width: 988px !important;
}
