<nav class="c-breadcrumb l-container" aria-label="Breadcrumb" >
    <ol class="c-breadcrumb_list">
        {{#each breadcrumb-list }}
            <li class="c-breadcrumb_list-item">
                {{#if url}}
                    <a class="c-breadcrumb_link" href="{{url}}">
                        {{label}}
                    </a>
                {{else}}
                    <span class="c-breadcrumb_label" aria-current="page">
                        {{label}}
                    </span>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</nav>
