/* -- --------------------  -- */
/* -- [ UTILITIES : Align ] -- */
/* -- --------------------  -- */

.u-align-self-center {
	align-self: center !important;
}

.u-margin-center {
	margin-left: auto !important;
	margin-right: auto !important;
}
