/* Error: It's not clear which file to import. Found:
 *   scss/05-components/_c-buttons.scss
 *   scss/05-components/c-buttons.scss
 *    ,
 * 10 | @import "./c-buttons";
 *    |         ^^^^^^^^^^^^^
 *    '
 *   scss/05-components/_00-components.scss 10:9  @import
 *   corp-style.scss 25:9                         @import
 *   style.scss 75:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   scss/05-components/_c-buttons.scss\a   scss/05-components/c-buttons.scss\a    \2577 \a 10 \2502  @import \"./c-buttons\";\a    \2502          ^^^^^^^^^^^^^\a    \2575 \a   scss/05-components/_00-components.scss 10:9  @import\a   corp-style.scss 25:9                         @import\a   style.scss 75:9                              root stylesheet";
}
