{{> components-primary-header }}

<main role="main">
    {{# breadcrumb }}
        {{> components-breadcrumb }}
    {{/ breadcrumb }}

    {{# promo-leadership }}
        {{> components-promo }}
    {{/promo-leadership}}

    {{# bordOfDirectors }}
        {{> components-media-block-list }}
    {{/bordOfDirectors}}
</main>

{{> components-primary-footer }}
