/* -- ---------------------------  -- */
/* -- UTILITIES : BACKGROUND COLOR -- */
/* -- ---------------------------  -- */

/* -- Background Colors Examples

.u-bg-primary01 { background-color: #3f3f3f !important; }
.u-bg-secondary01 { background-color: #003865 !important; }
.u-bg-accent01 { background-color: #6f9823 !important; }

-- */

/* -- [ Primary BACKGROUND COLORS ] -- */


/* -- [ SECONDARY BACKGROUND COLORS ] -- */


/* -- [ ACCENT BACKGROUND COLORS ] -- */


/* -- [ LIMITED BACKGROUND COLORS ] -- */


.u-bg-white { background-color: #fff !important; }

.u-bg-gray-100 { background: var(--jc-color-gray-100, #F1F1F1); } /* Grey 200 */
.u-bg-gray-200 { background: var(--jc-color-gray-200, #E4E4E4); } /* Grey 200 */

.u-bg-black { background-color: #000 !important; }

.u-bg-findATutor { background-color: #297DBB !important; }

.u-bg-dynaConFooterCopy { background-color: #262626 !important; }
