#c-header-toggle-btn {
  grid-area: toggle;
  align-items: center;
}

#c-header-navigation {
  grid-area: nav;
}

.c-header_link {

}

/* Header Navigation */

.c-primary-nav {
  padding: 0 0 24px 0px;
}

.c-primary-nav_list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-primary-nav_list li[class$="list-item"] {
  flex: auto;
  background: paleturquoise;
  padding-left: 24px;
}
.c-primary-nav_dropdown-list {
  top:0;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
}
button[role="tab"]:hover + .c-primary-nav_dropdown-list {
  transform: translateX(0);
}

.c-primary-nav_link {
  text-transform: uppercase;
}

.c-primary-nav_link,
.c-primary-nav_dropdown-list-link {
  display: inline-flex;
  position: relative;
  font-size: 20px;
  line-height: 62px;
  height: 62px;
  max-width: 100%;
  align-items: center;
  font-weight: 600;
  color: var(--color-primary-blue, #003865);
  border:0;
  background: none;
  text-align: left;
  padding: 0 24px;
}

button.c-primary-nav_link {
  &::after {
    content: "";
    display: inline-block;
    height: 10px;
    line-height: 62px;
    width: 10px;
    top: 0;
    margin-bottom: 2px;
    margin-left: 24px;
    border-style: solid;
    border-color: var(--color-primary-blue, #003865);
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }
}

.c-primary-nav_dropdown-list {

}

@media (min-width: 576px) {
  .c-header { }

}
