<!-- Footer -->
<footer id="corp-global-footer" class="c-global-footer" role="contentinfo">

    <section class="c-global-footer_container">
		<div class="c-footer__top">
			{{# footerLogo }}
			{{> molecules-logo }}
			{{/ footerLogo }}
		</div>
		<div class="c-footer__bottom">
			{{> molecules-footer-nav }}
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 {{ company.name }}. All Rights Reserved.</div>
		</div>

	</section><!--end l-container-->

</footer><!--end c-footer-->
