.c-btn {
  display: inline-flex;
  position: relative;
  padding: 0 15px;
  color: var(--color-almost-black, #1D1D1E);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Work Sans', 'HelveticaNeue', 'Helvetica Neue', Arial, sans-serif;
  line-height: 34px;
  transition: all 1s ease-out;
  &:hover, &:focus {
  }
  &::before,&::after {
    content: "";
    top: 0;
    position: absolute;
    transition: all .5s ease-out;
  }
}

.c-btn--homepage,
.c-btn--homepage:visited {
  &:hover, &:focus {
    background: none;
  }
  &::after {
    position: absolute;
    right: -48px;
    top: 16px;
    content: "→";
    height: 16px;
    width: 48px;
    border-bottom: 2px solid var(--color-spearmint, #81B39B);
    text-align: right;
  }
  &:hover::after { }
  &::before {
    content: "";
    top: 0;
    height: 34px;
    width: 35px;
    position: absolute;
    right: -64px;
    border: 2px solid var(--color-spearmint, #81B39B);
  }
  &:hover::before {
    height: 100%;
    width: calc(100% + 64px);
  }
}

.c-btn--primary,
.c-btn--primary:visited {
  &:hover, &:focus {
    background: none;
    color: var(--color-terra-cotta, #E07A5F);
    border-color: var(--color-terra-cotta, #E07A5F);
  }
  &::after {
    content: "→";
    position: absolute;
    right: -16px;
    height: 16px;
    width: 16px;
    border-bottom: 2px solid var(--color-spearmint, #81B39B);
  }
  &::before {
    content: "";
    position: absolute;
    right: -32px;
    height: 34px;
    width: 35px;
    border: 2px solid var(--color-spearmint, #81B39B);
  }
  &:hover::before {
    width: calc(100% + 32px);
    transition: all .5s ease-out;
  }
}

.c-btn--secondary,
.c-btn--secondary:visited {
  color: var(--color-almost-black, #1D1D1E);
  font-size: 16px;
  &:hover, &:focus {
    background: none;
    color: var(--color-terra-cotta, #E07A5F);
    border-color: var(--color-terra-cotta, #E07A5F);
  }
}

.c-btn--text,
.c-btn--text:visited {
  color: var(--color-primary-blue, #003865);
  &:hover, &:focus {
    background: none;
    color: var(--color-terra-cotta, #E07A5F);
    border-color: var(--color-terra-cotta, #E07A5F);
  }
}

/*	External Links
	A tags that do not start with
	Not  Internal links  : links that do not start with
*/

a.c-btn:not([href^="/"]),
a.c-btn:not([href^=".."]),
a.c-btn[href^="http://"]:not([href*="cengage.com"]):after,
a.c-btn[href^="https://"]:not([href*="cengage.com"]):after,
a.c-btn[href^="//"]:not([href*="cengage.com"]):after {
  color: var(--color-terra-cotta, #E07A5F);
}

/* Text Icon Links */

/*	Target Media Links – PDF and Doc Files
	Targets only text buttons
	href that ends in .pdf
*/

a.c-btn--text[href$=".pdf"]:after,
a.c-btn--text[href$=".pdf"][data-size]:after,
a.c-btn--text[href$=".doc"]:after {
  content: "PDF-Icon.svg";
}

/*	Email Link
	Text link only
	Href ends with "mailto:"
*/

a.c-btn--text[href^="mailto:"]:after {
  Content: "Email-Icon.svg";
}

/* target .mp3 .mp4 */

a.c-btn--text[href$=".mp3"]:after,
a.c-btn--text[href$=".mp4"]:after {
  Content: "Media-Icon.svg";
}


