
/* -- ------------------  -- */
/* -- [ COMPONENTS : HEADER -- */
/* -- ------------------  -- */


.c-header {
  display: grid;
  position: relative;
}

.c-header_container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
        "logo toggle"
        "tabpanel tabpanel";
}

#c-header-logo {
  grid-area: logo;
  height: 76px;
  margin: 0 24px;
  display: flex;
  align-items: center;
}

#c-header-toggle-btn {
  grid-area: toggle;
  align-items: center;
}

#header-nav-tabpanel {
  grid-area: tabpanel;
}

.c-header_link { }
/* -- Nav Order  --*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) {

  .c-header_container {
    display: flex;
  }
  .header-nav-tabpanel {
    height: auto;
  }

  #header-nav-toggle-btn {
    display: none !important;
    visibility: hidden !important;
  }

}
