
/* -- --------------------------------  -- */
/* -- [ COMPONENTS : HEADER TOGGLE BUTTON -- */
/* -- --------------------------------  -- */

.c-header-toggle-btn {
  display: flex;
  height: 44px;
  width: auto;
  justify-self: self-end;
  position: relative;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  margin: 10px 38px 10px 0;
  padding: 10px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.c-header_nav-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #F7F7F7;
  .c-global-nav { order: 2; }
  .c-primary-nav { order: 1;}
}

.c-header_nav-section[aria-hidden="true"] {
  height: 0;
  min-height: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
@media (min-width: 768px) {
  #header-nav-tabpanel {
    .c-global-nav { order: 1; }
    .c-primary-nav { order: 2;}
  }
}



.c-header-toggle-btn span.c-header-toggle-btn-text {
  display: flex;
  line-height: 24px;
  padding-right: 0;
  margin-right: -42px;
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-header-toggle-btn.open span.c-header-toggle-btn-text {
  padding-right: 10px;
  text-align: left;
  margin-right: 0;
  opacity: 1;
}

span.header-nav-toggle-btn_icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  border: 0;
}

.c-header-toggle-btn,
.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: #003865;
  background-color: var(--color-primary-blue, #003865);
  opacity: 1;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2n) {
  left: 50%;
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(odd) {
  left: 0;
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:first-child,
.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2) {
  top: 20%;
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(3),
.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(4) {
  top: calc(50%);
}

.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5),
.c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
  bottom: calc(20% - 2px);
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:first-child,
.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2),
.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:first-child,
.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2) {
  top: 30%;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:first-child {
  left: 2px;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2) {
  left: calc(50% - 2px);
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5),
.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
  bottom: 30%;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5) {
  left: 2px;
}

.c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
  left: calc(50% - 2px);
}

.c-header-toggle-btn:not(.open) ~ nav#jc-header-nav {
  left: 100vw;
}
//
//@media (min-width: 400px) {
//  .c-header-toggle-btn {
//    grid-area: button;
//    width: 48px;
//    height: 48px;
//    margin: 20px;
//  }
//  .c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(3),
//  .c-header-toggle-btn span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(4) {
//    top: calc(50% - 1px);
//  }
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:first-child {
//    left: 4px;
//  }
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(2) {
//    left: calc(50% - 4px);
//  }
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5),
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
//    bottom: calc(30% + 1px);
//  }
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(5) {
//    left: 4px;
//  }
//  .c-header-toggle-btn.open span.header-nav-toggle-btn_icon span.c-header_nav-toggle-icon:nth-child(6) {
//    left: calc(50% - 4px);
//  }
//}
