
/* -- ---------------------------------------  -- */
/* -- [ COMPONENTS : Header Primary Navigation -- */
/* -- ---------------------------------------  -- */

.c-primary-nav {
  padding: 0 0 24px 0;
}

.c-primary-nav_list {
  display: flex;
  flex-direction: column;
}

.c-primary-nav_list li[class$="list-item"] {
  flex: auto;
  background-color: #F7F7F7;
}

.c-primary-nav_dropdown-list {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding-left: 48px;
  background-color: #F7F7F7;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
  z-index: 1;
}

.c-primary-nav_dropdown-list[aria-hidden="false"] {
  transform: translateX(0);
}

.c-primary-nav_link {
  text-transform: uppercase;
}

.c-primary-nav_link,
.c-primary-nav_dropdown-link {
  display: inline-flex;
  position: relative;
  font-size: 20px;
  line-height: 62px;
  height: 62px;
  max-width: 100%;
  align-items: center;
  font-weight: 600;
  color: var(--color-primary-blue, #003865);
  border:0;
  background: none;
  text-align: left;
  padding: 0 24px;
  margin-left: 24px;
}

.c-primary-nav_dropdown-link {
  margin-left: 0;
}

button.c-primary-nav_link {
  &::after {
    position: relative;
    content: "";
    display: inline-block;
    height: 10px;
    line-height: 62px;
    width: 10px;
    top: 0;
    margin-bottom: 2px;
    margin-left: 24px;
    border-style: solid;
    border-color: var(--color-primary-blue, #003865);
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }
}

.c-primary-nav_back-btn {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    margin-right: 8px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--color-primary-blue, #003865);
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    line-height: 62px;
    width: 10px;
    //top: 0;
    left: 0;
    border-style: solid;
    border-color: var(--color-primary-blue, #003865);
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
  }
}

/* -- Nav Order  --*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) {
  .c-primary-nav {
    padding: 0;
    align-self: flex-end;
  }
  #c-primary-navigation .c-primary-nav_list {
    display: flex;
    flex-direction: row;
  }
  .c-primary-nav_link--home,
  .c-primary-nav_back-btn{
    display: none;
  }
  .c-primary-nav_list {

  }
  .c-primary-nav_list-item {

  }
  .c-primary-nav_list li[class$="list-item"] {
    background-color: #FFF;
  }
  .c-primary-nav_dropdown-list {
    min-height: auto;
    height: auto;
    width: auto;
    padding-left: 0;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.10);
    //transform: translateY(100%);
    transform-origin: top center;
}
  .c-primary-nav_link,
  .c-primary-nav_dropdown-link {
    line-height: 40px;
    height: 40px;
    color: var(--color-almost-black, #1D1D1E);
    padding: 12px;
    margin-left: 24px;
    &:hover {
      background-color: rgba(0,45,75,0.10);
    }
  }
  button.c-primary-nav_link::after {
    margin-left: 12px;
    transform: rotate(135deg);
  }

}
