main[role="main"] {
  display: grid;
  grid-template-columns:
          [viewport-start] minmax(12px, 1fr)
          [container-start] minmax(0, 1080px) [container-end]
          minmax(12px, 1fr) [viewport-end];
  overflow-x: hidden;
}

.l-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column: container;

  &--contained { grid-column: container; }

  &--full {
    grid-column: viewport;
    display: inherit;
    grid-template-columns: inherit;
    & > * {
      grid-column: container;
    }
  }
}

/* -- [ 3 Column Grid ] --*/

.l-container--grid-3 {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 344px);
}

/* -- [ 4 Column Grid ] --*/
.l-container--grid-4 {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 252px);
}
