/*------------------------------------*\
/* -- ELEMENTS -----------------------*/
/*------------------------------------*\

/*
  Elements: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).

  Elements – styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.

   * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 */
