
/* -- ---------------------  -- */
/* -- [ UTILITIES : MARGIN ] -- */
/* -- ---------------------  -- */

.u-margin-top--0 {
	margin-bottom: var(--spacing-0, 0px) !important;
}

.u-margin-top--extra-small {
	margin-bottom: var(--spacing-x-small, 8px) !important;
}

.u-margin-top--small {
	margin-bottom: var(--spacing-small, 16px) !important;
}

.u-margin-top--medium {
	margin-bottom: var(--spacing-medium, 32px) !important;
}

.u-margin-top--large {
	margin-bottom: var(--spacing-large, 72px) !important;
}

.u-margin-top--extra-large {
	margin-bottom: var(--spacing-x-large, 120px) !important;
}
/*-- Margin Bottom --*/
.u-margin-bottom--0 {
	margin-bottom: var(--spacing-0, 0px) !important;
}

.u-margin-bottom--extra-small {
	margin-bottom: var(--spacing-x-small, 8px) !important;
}

.u-margin-bottom--small {
	margin-bottom: var(--spacing-small, 16px) !important;
}

.u-margin-bottom--medium {
	margin-bottom: var(--spacing-medium, 32px) !important;
}

.u-margin-bottom--large {
	margin-bottom: var(--spacing-large, 72px) !important;
}

.u-margin-bottom--extra-large {
	margin-bottom: var(--spacing-x-large, 120px) !important;
}
/*-- Margin Left --*/
.u-margin-left--0 {
	margin-bottom: var(--spacing-0, 0px) !important;
}

.u-margin-left--extra-small {
	margin-bottom: var(--spacing-x-small, 8px) !important;
}

.u-margin-left--small {
	margin-bottom: var(--spacing-small, 16px) !important;
}

.u-margin-left--medium {
	margin-bottom: var(--spacing-medium, 32px) !important;
}

.u-margin-left--large {
	margin-bottom: var(--spacing-large, 72px) !important;
}

.u-margin-left--extra-large {
	margin-bottom: var(--spacing-x-large, 120px) !important;
}
/*-- Margin Right --*/
.u-margin-right--0 {
	margin-bottom: var(--spacing-0, 0px) !important;
}

.u-margin-right--extra-small {
	margin-bottom: var(--spacing-x-small, 8px) !important;
}

.u-margin-right--small {
	margin-bottom: var(--spacing-small, 16px) !important;
}

.u-margin-right--medium {
	margin-bottom: var(--spacing-medium, 32px) !important;
}

.u-margin-right--large {
	margin-bottom: var(--spacing-large, 72px) !important;
}

.u-margin-right--extra-large {
	margin-bottom: var(--spacing-x-large, 120px) !important;
}
