.u-margin-bottom--4 {
	margin-bottom: 4px !important;
}

.u-margin-bottom--8 {
	margin-bottom: 8px !important;
}

.u-margin-bottom--12 {
	margin-bottom: 12px !important;
}

.u-margin-bottom--16 {
	margin-bottom: 16px !important;
}

.u-margin-bottom--24 {
	margin-bottom: 24px !important;
}

.u-margin-bottom--32 {
	margin-bottom: 32px !important;
}

.u-margin-bottom--48 {
	margin-bottom: 48px !important;
}

.u-margin-bottom--64 {
	margin-bottom: 64px !important;
}
