/*------------------------------------*\
    SETTINGS : BREAKPOINTS
\*------------------------------------*/
$breakpoint-xs  : 0;      // Extra small sreen / phone
$breakpoint-sm  : 576px;  // Small screen / phone
$breakpoint-md  : 768px;  // Medium screen / tablet
$breakpoint-lg  : 992px;  // Large screen / desktop
$breakpoint-xl  : 1200px; // Extra large screen / wide desktop

$breakpoints: (
        xs:  $breakpoint-xs,
        sm:  $breakpoint-sm,
        md:  $breakpoint-md,
        lg:  $breakpoint-lg,
        xl:  $breakpoint-xl
) !default;

:root {
  --breakpoint-small: 576px;
}

/*
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
//
*/
