{{> components-primary-header }}
<main role="main">

	<div class="l-container">
		{{# hero }}
		{{> molecules-hero }}
		{{/ hero }}

		{{# promoBlock }}
		{{> molecules-promo-block }}
		{{/ promoBlock }}


		{{#with saleSection}}
		{{> organisms-stacked-block-section }}
		{{/with}}

	</div>


</main>
{{> components-primary-footer }}
