
/* -- -----------------------------  -- */
/* -- [ COMPONENTS : FOOTER NAVIGATION -- */
/* -- -----------------------------  -- */

.c-footer-nav {
  position: relative;
  letter-spacing: 0;
  color: var(--color-primary-blue, #003865);
}

.c-footer-nav_list {
  display: grid;
  grid-template-rows: masonry;
  justify-content: start;
  width: 100%;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
  grid-auto-flow: dense;
}

.c-footer-nav_sub-list {
  display: flex;
  flex-direction: column;
}

.c-footer-nav_list-header {
  color: var(--color-primary-blue, #003865);
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}

.c-footer-nav_link,
.c-footer-nav_link:visited {
  color: var(--color-primary-blue, #003865);
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  &:hover,
  &:focus,
  &:active {
    color: var(--color-almost-black, #1D1D1E);
  }
}

.c-footer-nav_link:hover,
.c-footer-nav_link:focus { }

.c-footer-nav_link[href^="#"] {
  color: lime;
}

.c-footer-nav_link:not([href^="/"]),
.c-footer-nav_link:not([href^=".."]),
.c-footer-nav_link[href^="http://"]:not([href*="cengage.com"]):after,
.c-footer-nav_link[href^="https://"]:not([href*="cengage.com"]):after,
.c-footer-nav_link[href^="//"]:not([href*="cengage.com"]):after {
  &::after {
    position: absolute;
    height: 20px;
    width: 20px;
    content: "->";
  }
}

/* -- Nav Order  --*/
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .c-footer-nav_list-item {
    &--about { /* order:1; */
    }

    &--businesses {
    }

    &--news {
    }

    &--investors {
    }

    &--careers {
    }

    &--legal {
    }
  }
}

/* -- Nav Order Desktop -- */
