
/* -- ----------------------- -- */
/* -- [ COMPONENTS : Promos ] -- */
/* -- ----------------------- -- */

.c-promo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.c-promo {
    display: flex;
    flex-direction: row;
    grid-gap: 24px;
  &_picture {
    position: relative;
    display: flex;
    margin: 0;
  }
  &_body {
    flex: auto;
  }
}

.c-promo--media-left {
  .c-promo_aside { order: 1; }
  .c-promo_body { order: 2; }
}
.c-promo--media-right {
  .c-promo_aside { order: 2; }
  .c-promo_body { order: 1; }
}


/* -- --------------------- -- */
/* -- [ Promos : Homepage ] -- */
/* -- --------------------- -- */

.c-promo--homepage {
  padding-bottom: var(--spacing-large, 72px);
  .c-promo {
    grid-gap: 48px;
    &_picture:after {
      content: "";
      position: absolute;
      left: 24px;
      top: 24px;
      height: 100%;
      width: 100%;
      display: inline-block;
      background-color: pink;
      z-index: -1;
    }
    &_body {
      margin: auto 0;
      //margin: auto 48px;
    }
    &_header {
      max-width: 440px;
    }
    &_title {
      line-height: 1.5;
      font-weight: 400;
    }
    &_copy {
      max-width: 500px;
      margin-left: var(--spacing-large, 72px);
      margin-top: var(--spacing-large, 72px);
      font-size: 20px;
      line-height: 2;
    }

    &_footer {
      margin-left: var(--spacing-large, 72px);
      margin-top: var(--spacing-large, 72px);
    }
  }
  &:nth-child(2n+1) {
    .c-promo_aside { order: 1; }
    .c-promo_body { order: 2; }
    .c-promo_picture { margin-right: var(--spacing-large, 72px); }
    .c-promo_picture:after { left: 24px; }
  }
  &:nth-child(2n) {
    .c-promo_aside { order: 2; }
    .c-promo_body { order: 1; }
    .c-promo_picture { margin-left: var(--spacing-large, 72px); }
    .c-promo_picture:after { left: -24px; }
  }
  &:nth-child(3n+1) {
    .c-promo_picture:after {
      background-color: var(--color-spearmint, #81B39B);
    }
    .c-btn {
      &::before,
      &::after {
        border-color: var(--color-spearmint, #81B39B);
      }
    }
  }
  &:nth-child(3n+2)  {
    .c-promo_picture:after {
      background-color: var(--color-plum, #3D405B);
    }
    .c-btn {
      &::before,
      &::after {
        border-color: var(--color-plum, #3D405B);
      }
    }
  }
  &:nth-child(3n+3) {
    .c-promo_picture:after {
      background-color: var(--color-terra-cotta, #E07A5F);
    }
    .c-btn {
      &::before, &::after {
        border-color: var(--color-terra-cotta, #E07A5F);
      }
    }
  }
}


/* -- -------------------- -- */
/* -- [ Promos : Primary ] -- */
/* -- -------------------- -- */
.c-promo--primary {
  .c-promo {
    &_body { }
    &_title { }
    &_copy { }
    &_footer { }
  }
}

/* -- ---------------------- -- */
/* -- [ Promos : Secondary ] -- */
/* -- ---------------------- -- */
.c-promo--secondary { }

/* -- ----------------- -- */
/* -- [ Promos : HERO ] -- */
/* -- ----------------- -- */
.c-promo--hero {
  padding: 24px 0;
}

