
/* -- ----------------------- -- */
/* -- [ COMPONENTS : Promos ] -- */
/* -- ----------------------- -- */

.c-promo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* -- ---------- -- */
/* -- [ Promos ] -- */
/* -- ---------- -- */

.c-promo {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
  &_aside {
    order: 1;
  }
  &_picture {
    position: relative;
    display: inline-flex;
    margin: 0;
  }
  &_img {
    position: relative;
    display: flex;
  }
  &_body {
    flex: auto;
    order: 2;
  }
  &--media-left {
    .c-promo_aside { order: 1; }
    .c-promo_body { order: 2; }
  }
  &--media-right {
    .c-promo_aside { order: 1; }
    .c-promo_body { order: 2; }
  }
}

/* -- [ PROMO -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-promo {
    display: flex;
    flex-direction: row;
    &_aside { }
    &_picture { }
    &_img { }
    &_body { }
    &_title { }
    &_copy { }
    &_footer { }
    &--media-left {
      .c-promo_aside { order: 1; }
      .c-promo_body { order: 2; }
    }
    &--media-right {
      .c-promo_aside { order: 2; }
      .c-promo_body { order: 1; }
    }
  }
}


/* -- --------------------- -- */
/* -- [ Promos : Homepage ] -- */
/* -- --------------------- -- */

.c-promo--homepage {
  grid-gap: var(--spacing-large, 72px);
  padding-bottom: 88px;
  .c-promo {
    &_aside {
      order: 2;
      display: flex;
      flex-direction: column;
    }
    &_picture {
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      margin: auto 0;
      order: 1;
    }
    &_header {
      margin-left: 56px;
      margin-right: 38px;
      max-width: 440px;
    }
    &_title {
      font-size: 30px;
      line-height: 40px;
      font-weight: 400;
    }
    &_copy {
      max-width: 500px;
      margin: 26px 38px 18px 78px;
      font-size: 16px;
      line-height: 30px;
    }
    &_footer {
      margin-left: var(--spacing-large, 72px);
      margin-top: var(--spacing-large, 72px);
    }
  }
  &:nth-child(2n+1) {
    .c-promo_picture {
      align-self: flex-start;
    }
  }
  &:nth-child(2n) {
    .c-promo_picture{
      align-self: flex-end;
    }
  }
  &:nth-child(3n+1) {
    .c-promo_picture {
      height: 570px;
      width: 212px;
      &:after { background-color: var(--color-spearmint, #81B39B); }
    }
    .c-btn {
      &::before { border-color: var(--color-spearmint, #81B39B); }
      &::after { background-color: var(--color-spearmint, #81B39B); }
    }
  }
  &:nth-child(3n+2) {
    .c-promo_picture {
      height: 570px;
      width: 320px;
      &:after { background-color: var(--color-plum, #3D405B); }
    }
    .c-btn {
      &::before { border-color: var(--color-plum, #3D405B); }
      &::after { background-color: var(--color-plum, #3D405B); }
    }
  }
  &:nth-child(3n+3) {
    .c-promo_picture {
      max-height: 570px;
      max-width: 215px;
      &:after { background-color: var(--color-terra-cotta, #E07A5F); }
    }
    .c-btn {
      &::before { border-color: var(--color-terra-cotta, #E07A5F); }
      &::after { background-color: var(--color-terra-cotta, #E07A5F); }
    }
  }
}

/* -- [ Promos : Homepage Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-promo--homepage {
    padding-bottom: 72px;
    flex-wrap: nowrap;
    .c-promo {
      &_aside { }
      &_picture {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 24px;
          top: 24px;
          height: 100%;
          width: 100%;
          display: inline-block;
          background-color: var(--color-spearmint, #81B39B);
          z-index: -1;
        }
      }
      &_img { }
      &_body { }
      &_title {
        font-size: 56px;
        line-height: 80px;
      }
      &_copy {
        margin-left: var(--spacing-large, 72px);
        margin-top: var(--spacing-large, 72px);
        font-size: 20px;
        line-height: 2;
      }
      &_footer { }
    }
    &:nth-child(2n+1) {
      .c-promo_picture:after { left: 24px; }
    }
    &:nth-child(2n) {
      .c-promo_picture:after { left: -24px; }
    }
    &:nth-child(2n+1) {
      .c-promo_aside { order: 1; }
      .c-promo_body { order: 2; }
    }
    &:nth-child(2n) {
      .c-promo_aside { order: 2; }
      .c-promo_body { order: 1; }
    }
    &:nth-child(3n+1) {
      .c-promo_picture {
        height: 715px;
        width: 275px;
        &:after { background-color: var(--color-spearmint, #81B39B); }
      }
      .c-btn {
        &::before { border-color: var(--color-spearmint, #81B39B); }
        &::after { background-color: var(--color-spearmint, #81B39B); }
      }
    }
    &:nth-child(3n+2) {
      .c-promo_picture {
        height: 720px;
        width: 520px;
        &:after { background-color: var(--color-plum, #3D405B); }
      }
      .c-btn {
        &::before { border-color: var(--color-plum, #3D405B); }
        &::after { background-color: var(--color-plum, #3D405B); }
      }
    }
    &:nth-child(3n+3) {
      .c-promo_picture {
        max-height: 720px;
        max-width: 275px;
        &:after { background-color: var(--color-terra-cotta, #E07A5F); }
      }
      .c-btn {
        &::before { border-color: var(--color-terra-cotta, #E07A5F); }
        &::after { background-color: var(--color-terra-cotta, #E07A5F); }
      }
    }
  }
}

/* -- ----------------------- -- */
/* -- [ Promos : Leadership ] -- */
/* -- ----------------------- -- */
.c-promo--leadership {
  flex-direction: column;
  .c-promo {
    &_aside { }
    &_picture {
      max-height: 424px;
      max-width: 637px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        height: 100%;
        width: 100%;
        display: inline-block;
        background-color: var(--color-straw, #F2CD8F);
        z-index: -1;
      }
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      max-width: 637px;
    }
    &_header {
      margin-bottom: 32px;
    }
    &_title {
      font-size: 24px;
      line-height: 38px;
    }
    &_copy {
      font-size: 16px;
      line-height: 25px;
    }
    &_footer { }
  }
}
/* -- [ Leadership -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 980px) {
  .c-promo--leadership {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    .c-promo {
      margin-bottom: 60px;
      &_aside { }
      &_picture {
        &:after {
          left: 16px;
          top: 16px;
        }
      }
      &_img { }
      &_body {
        width: 100%;
        max-width: 286px;
      }
      &_title {
        font-size: 32px;
        line-height: 51px;
      }
      &_copy {
        margin-bottom: 24px;
        font-weight: 600;
      }
      &_footer { }

    }
  }
}

/* -- -------------------- -- */
/* -- [ Promos : Primary ] -- */
/* -- -------------------- -- */
.c-promo--primary {
  padding-bottom: 88px;
  .c-promo {
    &_aside {
      order: 2;
      display: flex;
      flex-direction: column;
    }
    &_picture {
      height: 100%;
      width: 100%;
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body {
      max-width: 528px;
      order: 1;
      margin-bottom: 32px;
    }
    &_header {
      margin-bottom: 16px;
      max-width: 440px;
    }
    &_title {
      font-size: 24px;
      line-height: 38px;
    }
    &_copy {
      max-width: 436px;
      font-size: 16px;
      line-height: 25px;
    }
    &_footer {
      margin-left: var(--spacing-large, 72px);
      margin-top: var(--spacing-large, 72px);
    }
  }
  &:nth-child(2n+1) { .c-promo_picture{ align-self: flex-end; } }
  &:nth-child(2n) { .c-promo_picture { align-self: flex-start; } }
  &:nth-child(3n+1) {
    .c-promo_picture {
      height: 570px;
      width: 215px;
    }
  }
  &:nth-child(3n+2) {
    .c-promo_picture {
      height: 570px;
      width: 320px;
    }
  }
  &:nth-child(3n+3) {
    .c-promo_picture {
      height: 570px;
      width: 215px;
    }
  }
}

/* -- [ Primary : Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-promo--primary {
    padding-bottom: 16px;
    justify-content: space-between;
    grid-column-gap: 32px;
    .c-promo {
      &_aside { }
      &_picture { }
      &_img { }
      &_body {
        display: flex;
        flex-direction: column;
        margin: auto 0;
      }
      &_header { margin-bottom: 32px; }
      &_title {
        font-size: 40px;
        line-height: 64px;
      }
      &_copy {
        align-self: flex-end;
        font-size: 20px;
        line-height: 32px;
      }

      &_footer { }
    }
    &:nth-child(2n+1) {
      .c-promo_aside { order: 2; }
      .c-promo_body { order: 1 }
    }
    &:nth-child(2n) {
      .c-promo_aside { order: 1; }
      .c-promo_body { order: 2; }
    }
    &:nth-child(3n+1) {

      .c-promo_picture {
        height: 720px;
        width: 275px;
      }
    }
    &:nth-child(3n+2) {
      .c-promo_picture {
        height: 720px;
        width: 440px;
      }
    }
    &:nth-child(3n+3) {
      .c-promo_body { max-width: 620px }
      .c-promo_picture {
        height: 720px;
        width: 260px;
      }
    }
    &:nth-child(3n+4) {
      .c-promo_picture {
        height: 610px;
        width: 350px;
      }
    }
  }
}

/* -- ---------------------- -- */
/* -- [ Promos : Secondary ] -- */
/* -- ---------------------- -- */
.c-promo--secondary {
  .c-promo {
    &_aside { }
    &_picture { }
    &_img { }
    &_body { }
    &_title { }
    &_copy { }
    &_footer { }
  }
}
/* -- [ Secondary -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-promo--secondary {
    .c-promo {
      &_aside { }
      &_picture { }
      &_img { }
      &_body { }
      &_header { }
      &_title { }
      &_copy { }
      &_footer { }
    }
  }
}

/* -- ----------------- -- */
/* -- [ Promos : HERO ] -- */
/* -- ----------------- -- */
.c-promo--hero {
  padding: 52px 0;
  flex-wrap: wrap;
  .c-promo {
    &_aside { order: 2; }
    &_picture {
      position: relative;
    }
    &_img {
      display: flex;
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    &_body { order: 1; }
    &_header { margin-bottom: 32px; }
    &_title {
      font-size:32px;
      line-height: 47px;
      font-weight: 600;
    }
    &_copy {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 40px;
      q {
        display: block;
        font-size: 24px;
        line-height: 38px;
        font-weight: 600;
        text-indent: -15px;
      }
      cite {
        margin-top: 16px;
        display: block;
        font-size: 16px;
        line-height: 25px;
        font-style: normal;
        &:before { content: "— "; }
      }
    }
    &_footer {
      margin-bottom: 32px;
    }
  }
}
/* -- [ HERO -- Small devices (landscape phones, 576px and Up ) */
@media (min-width: 576px) {
  .c-promo--hero {
    justify-content: space-between;
    .c-promo {
      &_aside { order: 1; }
      &_picture {
        height: 535px;
        width: 252px;
      }
      &_img { }
      &_body {
        order: 2;
        max-width: 712px;
      }
      &_header { margin-bottom: 32px; }
      &_title {
        font-size: 56px;
        line-height: 90px;
      }
      &_copy {
        q {
          font-size: 40px;
          line-height: 64px;
        }
        cite {
          font-size: 20px;
          line-height: 32px;
        }
      }
      &_footer { }
    }
  }
}
