.jc-tag-banner_list {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(6rem, 100%), 1fr));
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 16px;
}

.jc-tag-banner_btn {
	margin: 0;
	/*width: fit-content;*/
}

.jc-tag-banner_btn:hover {
	color: #fff;
	background-color: #f5424b;
	background-color: var(--jc-color-red-500,#f5424b);
	border-color: #f5424b;
	border-color: var(--jc-color-red-500,#f5424b);
}

.jc-tag-banner_btn:visited {

}
