<div class="c-media-block--list l-container {{ styleModifier }} {{paddingUtility}} {{backgroundColorUtility}}">

    {{#each media-block-list }}
        {{> components-media-block }}
    {{/ each }}

</div><!--end c-btn-group-->
