/* -- ---------------------- -- */
/* -- [ SETTINGS : SPACING ] -- */
/* -- ---------------------- -- */

:root {
  /* -- Spacing -- */
  --spacing-0: 0px;
  --spacing-xx-small: 4px;
  --spacing-x-small: 8px;
  --spacing-small: 16px;
  --spacing-medium: 32px;
  --spacing-large: 72px;
  --spacing-x-large: 120px;
}
