/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family-primary: "Work Sans", "HelveticaNeue", "Helvetica Neue","Arial" sans-serif;
$font-family-secondary: "Open Sans", "Segoe UI", Tahoma, sans-serif;

:root {
  --font-family-primary: "Work Sans", "HelveticaNeue", "Helvetica Neue","Arial" sans-serif;
}

/*
**
 * Font Sizing
 *
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;

/**
 * Line Height
 *
$line-height-sm: 0.8;
$line-height-sm-2: 0.9;
$line-height-med: 1;
$line-height-med-2: 1.2;
$line-height-large: 1.6;
$line-height-xl: 1.8;
*/
