<main role="main">
    <section class="l-container c-promo-wrapper {{ styleModifier }}">

        {{#each promo-list }}

            {{> components-promo }}

        {{/ each }}

    </section>
</main>
