<!-- https://codepen.io/andybarefoot/pen/QMeZda -->

<!-- Footer -->
<footer id="corp-global-footer" class="c-global-footer" role="contentinfo">
    <section class="c-global-footer_container">

        <!-- Logo -->
        {{> components-footer-logo }}

        <!-- Navigation -->

        {{> components-footer-nav }}

        <!-- Footer Bottom -->
        <aside class="c-footer-bottom">

            {{> components-social-list }}

            <hr class="footer_hr"/>

            <section class="c-footer_copyright">
                &copy;<time>2021</time> Cengage Learning, Inc. and its affiliates
            </section>

        </aside><!-- END : c-footer-bottom -->

    </section><!-- END : c-global-footer_container -->

</footer>
