<div class="c-content-block">
    <div class="c-content-block_container">
        <h1 class="content-block_title">

        </h1>
        <div class="c-content_copy">
            text goes here
        </div>
        <!-- End Copy -->
        {{# if footer}}
        <a href="#" class="">button</a>
        {{/if}}
    </div>
</div>
