<main role="main">

    {{#if pageTitle}}
        <div class="l-container u-padding-bottom--medium u-padding-top--medium">
            <h2>{{pageTitle}}</h2>
        </div>
    {{/if}}

    <section class="c-media-block--list l-container {{ containerModifier }} {{paddingUtility}} {{backgroundColorUtility}}">

        {{#each media-block-list }}
            {{> components-media-block }}
        {{/ each }}

    </section><!--end container -->
</main>
